[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
requests = "*"
python-dotenv = "*"
pyngrok = "*"

[dev-packages]

[requires]
python_version = "3.9"
